header {
  background-color: #A1B6EC;
  padding: 5px;
  padding-left: 20px;
  width: 1000px;
  height: 80px;
}

button {
  background-color: #A1B6EC;
  color: black !important;
  border-color: black !important;
}

body {
  margin-left: 0px;
  background-color: #FCF7EC !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  background-color: #FCF7EC;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side {
  width: 150px;
  height: 600px;
  background-color: #bfe2b4;
}

.content {
  width: 850px;
  height: 600px;
}

.mypage {
  height: 50px;
}

.MuiPaper-root {
  background-color: #bfe2b4 !important;
  color: black !important;
}

.MuiButton-outlinedPrimary {
  background-color: #A1B6EC !important;
  color: white !important;
}