header {
  background-color: #A1B6EC;
  padding: 10px;
}

button {
  background-color: #A1B6EC;
  color: black !important;
  border-color: black !important;
}

body {
  background-color: #FCF7EC !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #FCF7EC;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiPaper-root {
  background-color: #bfe2b4 !important;
  color: black !important;
}

.MuiButton-outlinedPrimary {
  background-color: #A1B6EC !important;
  color: white !important;
}